.git
.gitignore
**/*~
**/__pycache__
**/*.pyc
**/*.pyo
.bashrc
Dockerfile.backend
docker-compose.yml
entrypoint.sh
**/node_modules
dashboard-react/node_modules
dashboard-react/dist
dashboard-react/dist-official
flutter-app/.dart_tool
flutter-app/build
flutter-app/.flutter-plugins*
**/*.tar.gz
**/*.zip
e2e
manage.py